<% if admin? %>
<h1>Editing user</h1>

<img id="splash-img"src="/images/quiver-bg-image.JPG" alt="The Quiver Shack" title="The Quiver Shack" />
<div id="sign-up">
	<%= render 'form' %>
</div>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<% end %>
